@import '../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');

// VARIABLES
$color-red: #fe1b00;
$bg-maroon: #bd884d;
$color-white: #fffff0;
      

// EXTEND/INHERITANCE
%h3-shared {
  background-color: $bg-maroon;
  color: $color-white;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 0px;
  margin-bottom: 0;
}


// CODE
body {
  font-family: 'Montserrat','sans serif';
  margin: 0;
  padding: 0;
  background-color: $color-white;
}


#social-network {
  position: fixed;
  right: 0;
  padding: 10px;
  background-color: transparent;
  z-index: 1;
  margin: 10px;
  ul{
    margin-right: 0;
    padding: 0;
  }
  li {
    padding: 8px;
    margin: 0 5px 5px 5px;
    text-align: center;
    list-style: none;
    background-color: $bg-maroon;
    border-radius: 50%;
    &:hover {
      color: lightblue;
      i {
        border-radius: 50%;
      }
    }
  }
}


#logo {
  margin-top: 20px;
  text-align: center;
  .image-logo {
    width: 500px;
    height: 150px;
  }
  .firstTitle {
    color: dark$color-red;
    font-family: 'Srisakdi', serif;
    font-weight: bold;
    font-style: italic;
    font-size: 3em;
  }
  .infos {
    display: flex;
    align-items: center;
    justify-content: center;
      h4 {
        margin: 10px 50px;
        padding: 10px;
        font-size: 16px;
        border-top: 1px solid $color-red;
        border-bottom: 1px solid $color-red;
        color: $color-red;
        text-transform: uppercase;
        font-weight: bold;
      }
  }
}


#header {
  nav {
    margin-top: 30px;
    margin-bottom: 10px;
      .link {
        font-size: 16px;
        list-style: none;
        margin-top: 5px;
        text-align: center;
        margin-right: 40px;
        color: black ;
        text-transform: uppercase;
        font-weight: bold;
        transition: .5s ease-in-out;
          &:hover {
            color: #eee;
            background-color: $color-red;
            text-decoration: none;
            border: 1px solid $color-red;
            border-radius: 3px;
      }
    }
  }
}

.active {
  border: 1px solid #ffb74d;
  border-radius: 3px;
}

.col-sm {
  padding: 0;
}

//  Home page
#section1 {
  margin-bottom: 20px;

  .title-section1 {
    @extend %h3-shared;
  }

  #about {
    margin: 0;
    display: flex;
    text-align: justify;
    img {
      width: 100%;
      height: 100%;
    }
    h3 {
      width: 200px;
      margin-top: 40px;
      padding-bottom: 10px;
      border-bottom: 4px solid $color-red;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }
    p {
      padding: 20px 20px 20px 0;
      font-size: 20px;
    }
  }

  .subtitle {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    h3 {
      width: 200px;
      padding-bottom: 10px;
      text-align: center;
      border-bottom: 4px solid $color-red;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  #concept {
    margin: 0;
    display: flex;
    .col-sm {
      padding: 0;
    }
    h4 {
      margin-top: 10px;
      text-align: center;
      font-weight: bold;
      text-decoration: underline;
      color: $bg-maroon;
    }
    p {
      padding: 10px 20px 0 20px;
      text-align: justify;
      font-size: 20px;
    }  
  }
}


#section2 {
  padding-bottom: 0;

  h1 {
    @extend %h3-shared;
    margin-bottom: 20px;
  }

  #content-section2 {
    display: flex;
    margin: 0 15px 30px 15px;
    .col-sm {
      padding: 0;
    }
    .master-cook {
      width: 100%;
      height: 40vh;
      padding-right: 5px;
    }
  }
}
 

#section3 {
  margin-bottom: 30px;

  h1 {
    @extend %h3-shared;
    margin-bottom: 30px;
  }

  #team {
    margin: 0;
    padding: 0;
    .card { 
      margin: 10px 30px;
      text-align: center;
      box-shadow: 2px 2px 5px 2px lightgrey;
    }
  }

  img {
    margin: 20px 50px;
  }
}




// Menu Page
.content-menu {
  background-color: #2e2e2e;
  color: $bg-maroon;
  h1 {
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .section-images {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    .subtitles {
      border-top: 1px solid $color-white;
      border-bottom: 1px solid $color-white;
      padding-top: 15px;
      padding-bottom: 15px;
      text-transform: uppercase;
      margin-top: 20px;
    }
    .images-menu {
      text-align: center;
      width: 80px;
      height: 80px;
      margin: 5px 0px 5px 0;
    }
    span {
      margin-left: 15px;
      font-weight: bold;
    }
  }
}




//Order-Online Page
#content-order {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-auto-rows: minmax(70vh, auto);
  background-color: #2e2e2e;
  
  .main-content-order {
    h3 {
      text-align: center;
      color: $bg-maroon;
      margin-top: 25px;
      text-transform: uppercase;
    }
    .menu-order {
      margin-top: 15px;
      h2 {
        margin: 0 20%;
        border: 1px solid $bg-maroon;
        border-radius: 5px;
        text-align: center;
        color: $color-white;
        margin-bottom: 15px;
      }
      p {
        text-align: center;;
        color: $color-white;
        margin: 10px 20px;
      }
    }
    .bar-horizontal {
      margin: 0 150px;
      border-bottom: 1px solid $bg-maroon;
    }
    .bar-horizontal2{
      margin: 0 150px;
      border-bottom: 1px dotted $color-white;
    }
    .list-items {
      color: $color-white;
      margin: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        text-align: right;
        color: $bg-maroon;
      }
    }
  }
          .hide-show {
            display: none;
          }

  .right-content-order {
    background-color: $bg-maroon;
    border-left: 1px solid $color-white;
    color: black;
    #order {
      margin-right: 15px;
      h4 {
        padding: 15px 10px 10px 10px;
        text-align: left;
        border-bottom: 1px solid $color-white;
      }
      span {
        margin-left: 10px;
      }
    }
    #items-added {
      margin-bottom: 20px;
      h2 {
        margin: 10px 25px;
      }
      .button-hide {
        border-radius: 4%;
        height: 5px;
        line-height: 0;
        margin: 0 5px;
        box-shadow: 1px 1px 2px 1px #2e2e2e;
      }
    }
    #subtotal {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid black;
      margin: 25px;
      padding: 10px;
    }
    button {
      margin: 0 30px;
      padding: 10px;
      &:active {
        color: $color-white;
        background-color: $bg-maroon;
      }
    }
  }
}




// Contact Page
#contact {
  border-top: 1px solid $bg-maroon;
  h1 {
    text-align: center;
    margin: 15px 0 30px 0;
    color: $bg-maroon;
    text-decoration: underline;
    font-weight: bold;
    text-transform: uppercase;
  }
  h3 {
    margin: 15px 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
  }
  .row {
    margin: 0;
    #infos {
      background-color: $bg-maroon;
      color: $color-white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        text-align: center;
        font-size: 25px;
      }
    }
    form {
      text-align: center;
        input {
          width: 45%;
          padding-bottom: 5px;
          background-color: transparent;
          border: transparent;
          border-bottom: 3px solid #bd884d;
          font-size: 23px;   
          &:focus {
            outline: none;
          }  
        }
      }
      textarea {
        width: 93%;
        background-color: transparent;
        border: transparent;
        border-bottom: 3px solid #bd884d;
        margin-top: 15px;
        font-size: 23px;
        &:focus {
          outline: none;
        }
      }
      button {
        margin-top: 20px;
        width: 150px;
        border: 1px solid $bg-maroon;
        font-weight: bold;
        &:hover {
          background-color: $bg-maroon;
          color: $color-white;
        }
      }
    }
  }



.footer {
  padding: 1px;
  text-align: center;
  background-color: #97642F;
  color: $color-white;
}




// MEDIA QUERIES
@media (max-width: 768px) {
  #social-network {
    display: none;
  }

  #logo {
    .firstTitle {
      font-size: 2.5em;
    }
    .infos {
      display: flex;
      flex-direction: column;
      .image-logo {
        margin-top: 20px;
      }
      .winYear {
        display: block;
        margin-top: 10px;
      }
      h4 {
        display: none;
      }
    }
  }

  #section1 {
    #about {
      .col-sm {
        padding: 0;
      }
      h3 {
        margin-top: 10px;
      }
      p {
        padding: 20px; 
      }
    }
    .subtitle {
      margin-top: 0;
      display: block;
    }
    #concept {
      margin-top: 15px;
    }
  }

  #section2 {
    .master-cook {
      margin-right: 0;
      margin-top: 5px;
    }
  }

  #section3 {
    margin: 0;
      img {
        margin: 5px;
      }
    }

    #contact { 
      .row {
        form {
          margin-top: 30px;
          margin-bottom: 30px;
          .divInputs {
            display: flex;
            flex-direction: column;
            margin: 0px 5px 10px 10px;
            input {
              width: 98%;
              margin-top: 25px;
            }
          }
        }
      }
    }

    #content-order {
      display: flex;
      flex-direction: column;
    }
    #cart-order {
      height: 50vh;
      margin-bottom: 20px;
    }
  }

